@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomeDT>
@using umbraco.NodeFactory;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterTemplate.cshtml";

    Node chiSiamoNode = uQuery.GetNodesByName("Chi Siamo").Where(n => n.NodeTypeAlias == "chiSiamo").FirstOrDefault();
    Node menuNode = uQuery.GetNodesByName("Menu").Where(n => n.NodeTypeAlias == "menu").FirstOrDefault();
    Node eventiNode = uQuery.GetNodesByName("Eventi").Where(n => n.NodeTypeAlias == "eventi").FirstOrDefault();

    IPublishedContent menuOfTheDay = CurrentPage.Site().FirstChild("menu").Children("menuSingolo").Where("Visible && Name.Contains(@0)", "Menù del Giorno").First();
    string menuOfTheDayURL = menuOfTheDay.Url;
}
@section HeaderSection {
    @Html.Partial("BannerPV")    
}

<br />
<section>
    <article>
        <div class="row home-article">
            <div class="col-sm-6 home-article-image">
                <img src="~/images/home/chiSiamo.jpg" class="img-responsive img-circle article-image" width="500" height="290" />
            </div>
            <div class="col-sm-6 home-article-div">
                <a style="color:black;" href="@chiSiamoNode.Url"><h2 class="page-title text-center"><i>Chi Siamo</i></h2></a>
                <p><i>@Html.Raw(chiSiamoNode.GetProperty("descrizione").Value.Truncate(700, "..."))</i></p>
            </div>
        </div>
    </article>
    <div class="hr">
        <hr />
    </div>
    <article>
        <div class="row home-article">
            <div class="col-sm-6 home-article-div">
                <a style="color:black;" href="@menuNode.Url"><h2 class="page-title text-center"><i>I Nostri Menù</i></h2></a>
                <i>@Html.Raw(menuNode.GetProperty("descrizione").Value.Truncate(700, "..."))</i>
                <p style="text-align: center;"><em><strong><a style="color: black;" data-id="1073" href="@menuOfTheDayURL" target="_self" title="Menù del Giorno"><i>CLICCA QUI PER VEDERE IL MENU' DEL GIORNO!</i></a></strong></em></p>
            </div>
            <div class="col-sm-6 home-article-image">
                <img src="~/images/home/menu.jpg" class="img-responsive img-circle article-image" width="500" height="290" />
            </div>
        </div>
    </article>
    <div class="hr">
        <hr />
    </div>
    <article>
        <div class="row home-article">
            <div class="col-sm-6 home-article-image">
                <img src="~/images/home/eventi.jpg" class="img-responsive img-circle article-image" width="500" height="290" />
            </div>
            <div class="col-sm-6 home-article-div">
                <a style="color:black;" href="@eventiNode.Url"><h2 class="page-title text-center"><i>Gli Eventi</i></h2></a>
                <p><i>@Html.Raw(eventiNode.GetProperty("descrizione").Value.Truncate(700, "..."))</i></p>
            </div>
        </div>
    </article>
</section>
<section>
    <article>
        <div class="row">
            <div id="infoArticle" class="col-sm-offset-2 col-sm-8 background-color-primary-0">
                <span class="color-primary-6" style="display:block;">
                    Servizio d'asporto e consegna a domicilio. Tutti i giorni “menù lavoro” a partire da 7,00€ fino a un massimo di 12,00€. Si accettano Ticket Restaurant, Bancomat e carte di credito, eccetto American Express.
                    <br>
                </span><h2 class="color-primary-6">GIORNO DI CHIUSURA MARTEDI'</h2>
            </div>
        </div>
    </article>
</section>