@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<Specialita>
@using umbraco.cms.businesslogic.media
@{
    Layout = "MasterTemplate.cshtml";

    string folder = @Model.Content.Immagini.Split(',')[0];
    umbraco.cms.businesslogic.media.Media imagesUrl = new umbraco.cms.businesslogic.media.Media(int.Parse(folder));
}
@section HeaderSection {
    @Html.Partial("BannerPV")
}
<div class="row">
    <div class="col-xs-12">
        <p>@Model.Content.DescrizioneSpecialita</p>
    </div>
</div>
<div class="row">
    @{
        int i = 0;
        foreach (var imgUrl in imagesUrl.Children)
        {

            if (i != 0 && i % 4 == 0)
            {
                int s = 0;
                @:</div>
                @:<div class="row">
            }

            <div class="col-tn-3">
                <a href="@Umbraco.Media(imgUrl.Id).Url" data-toggle="lightbox" data-gallery="gallery" data-type="image" data-title="@Model.Content.Name" data-footer="@imgUrl.Text">
                    <img src="@Umbraco.Media(imgUrl.Id).Url" class="img img-responsive center-block" />
                </a>
            </div>

            
            i++;
        }
    }
</div>